@import "../../sass/base";

.zoom-scale {
  position: relative;
  width: 90%;
  margin: 10px auto;
  &__handler {
    -webkit-appearance: none;
    display: block;
    margin: 0 auto;
    width: calc(100% - 40px);
    height: 18px;
    background: transparent;

  }

  &__min,
  &__max {
    position: absolute;
    transition: color 0.3s ease;
    fill: color(primary);
  }

  &__min {
    left: -12px;
    top: 0px;
  }

  &__max {
    right: -13px;
    top: -1px;
  }

  &__icon {
    &--disabled {
      fill: lighten(color(primary), 50%);
    }
  }
}
